<a href="https://colab.research.google.com/github/AlkaAswar/GDTC-short-Assignments/blob/main/Assignment_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task  1
Merge the 3 dataset and create 1 view of data.
You can merge insurance_data.csv and employee_data.csv on
AGENT_ID You can merge insurance_data.csv and vendor_data.csv on
VENDOR_ID Note: Use left Outer join as not all claims require Vendor

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
insurance_data=pd.read_csv('insurance_data.csv')
employee_data=pd.read_csv('employee_data.csv')
vendor_data=pd.read_csv('vendor_data.csv')

In [ ]:
insurance_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000.0,...,A,Major Loss,Police,0.0,1.0,GA,Savannah,4.0,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000.0,...,A,Total Loss,Ambulance,1.0,0.0,AL,Montgomery,0.0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000.0,...,A,Total Loss,Police,0.0,1.0,CO,Grand Junction,19.0,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000.0,...,A,Minor Loss,Ambulance,0.0,0.0,GA,Savannah,12.0,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000.0,...,A,Major Loss,Police,0.0,1.0,TN,Nashville,18.0,AGENT00636,VNDR00472

In [ ]:
insurance_data.shape

(7135, 38)

In [ ]:
employee_data.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [ ]:
employee_data.shape

(1200, 10)

In [ ]:
vendor_data.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [ ]:
vendor_data.shape

(600, 7)

In [ ]:
m1=pd.merge(insurance_data,employee_data,on='AGENT_ID',how='left',suffixes=('_CUSTOMER','_AGENT'))
view=pd.merge(m1,vendor_data,on='VENDOR_ID',how='left')

In [ ]:
view

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_AGENT,POSTAL_CODE_AGENT,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000.0,...,TN,37217.0,35441155.0,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000.0,...,AZ,85301.0,44055451.0,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000.0,...,AL,36105.0,55770246.0,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000.0,...,OK,73071.0,87652976.0,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000.0,...,MD,21061.0,76119019.0,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7130,2021-03-09 00:00:00,TXN00007131,A00007708,PLC00001480,2019-05-18,2021-02-28,2021-03-03,Travel,94.08,2000.0,...,AL,36104.0,55104951.0,DURH33454307433857,NaN,NaN,NaN,NaN,NaN,NaN
7131,2021-03-09 00:00:00,TXN00007132,A00001741,PLC00000691,2016-03-20,2021-02-19,2021-02-24,Mobile,6.89,500.0,...,DC,20016.0,109100678.0,QNKT83675204348187,"Garcia, Robles and Meza",882 Plantation Way,NaN,Montgomery,AL,36117.0
7132,2021-03-09 00:00:00,TXN00007133,A00006323,PLC00003053,2017-07-06,2021-03-01,2021-03-04,Motor,76.54,2000.0,...,TN,37210.0,17892997.0,QGYC27392737161427,Young-Marshall,152 Teddy Drive,NaN,Union City,CA,94587.0
7133,2021-03-09 00:00:00,TXN00007134,A00005429,PLC00008315,2017-05-04,2021-02-28,2021-03-03,Travel,90.29,5000.0,...,AL,36109.0,33039653.0,EBOR81785887630878,Ortega-Michael,2 Misty Marsh Drive,NaN,Savannah,GA,31419.0
7134,2021-03-09 00:00:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
view.shape

(7135, 53)

## Task 2
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [ ]:
insurance_data['INSURANCE_TYPE'].value_counts()[:3]

Mobile      1221
Property    1218
Travel      1210
Name: INSURANCE_TYPE, dtype: int64

## Task 3
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [ ]:
insurance_data[insurance_data['RISK_SEGMENTATION']=='H'].STATE.value_counts()[:5]

CA    106
AZ     79
FL     73
DC     72
TN     67
Name: STATE, dtype: int64

## Task 4
Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0
Find the mean of this new column

In [ ]:
view['COLOCATION'] = (view['STATE_CUSTOMER']==view['INCIDENT_STATE'])&(view['INCIDENT_STATE']==view['STATE_AGENT'])

In [ ]:
view['COLOCATION']=view.COLOCATION.astype('int')
view['COLOCATION'].value_counts()

0    7102
1      33
Name: COLOCATION, dtype: int64

In [ ]:
view['COLOCATION'].mean()

0.0046250875963559914

## Task 5
Data entry error was detected in the data and you are required to correct it. If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [ ]:
view.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME',
       'ADDRESS_LINE1_CUSTOMER', 'ADDRESS_LINE2_CUSTOMER', 'CITY_CUSTOMER',
       'STATE_CUSTOMER', 'POSTAL_CODE_CUSTOMER', 'SSN', 'MARITAL_STATUS',
       'AGE', 'TENURE', 'EMPLOYMENT_STATUS', 'NO_OF_FAMILY_MEMBERS',
       'RISK_SEGMENTATION', 'HOUSE_TYPE', 'SOCIAL_CLASS', 'ROUTING_NUMBER',
       'ACCT_NUMBER', 'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS',
       'INCIDENT_SEVERITY', 'AUTHORITY_CONTACTED', 'ANY_INJURY',
       'POLICE_REPORT_AVAILABLE', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_HOUR_OF_THE_DAY', 'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME',
       'DATE_OF_JOINING', 'ADDRESS_LINE1_AGENT', 'ADDRESS_LINE2_AGENT',
       'CITY_AGENT', 'STATE_AGENT', 'POSTAL_CODE_AGENT', 'EMP_ROUTING_NUMBER',
       'EMP_ACCT_NUMBER', 'VENDOR_NAME', 'ADDRESS_LINE1', 'ADDRESS_LINE2',
       'CITY', 'STATE', 'POSTAL_CODE', 'COLOCATION'],
      dtype='object')

In [ ]:
view['AUTHORITY_CONTACTED'].value_counts()

Ambulance    2926
Police       2127
None         1374
Other         707
Name: AUTHORITY_CONTACTED, dtype: int64

In [ ]:
non_police = view[view['AUTHORITY_CONTACTED']!='Police']

In [ ]:
update_rows = non_police[non_police['POLICE_REPORT_AVAILABLE']==1].index

In [ ]:
view.loc[update_rows,'AUTHORITY_CONTACTED'] = 'Police'

In [ ]:
view[(view['POLICE_REPORT_AVAILABLE']==1)&(view['AUTHORITY_CONTACTED']!='Police')]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_CUSTOMER, ADDRESS_LINE2_CUSTOMER, CITY_CUSTOMER, STATE_CUSTOMER, POSTAL_CODE_CUSTOMER, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_AGENT, ADDRESS_LINE2_AGENT, CITY_AGENT, STATE_AGENT, POSTAL_CODE_AGENT, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

## Task 6
Business wants to check the Claim Amount for deviation for each transaction, they would
like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
If there is less than 30 days of transaction history THEN
-1 Note: LAST_30DAYS does not include current day

In [ ]:
view.TXN_DATE_TIME.max()

'2021-03-09 00:00:00'

In [ ]:
curr_date = pd.to_datetime('2021-06-30')

In [ ]:
view['TXN_DATE_TIME'] = pd.to_datetime(view['TXN_DATE_TIME'],errors='coerce')

In [ ]:
last_30 = view.loc[(view['TXN_DATE_TIME'] > '2021-05-30') & (view['TXN_DATE_TIME'] < '2021-06-30')]

In [ ]:
average_claim = last_30.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT'].to_dict()

In [ ]:
def Claim_deviation(row):
    if (curr_date - row['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_deviation = average_claim[row['INSURANCE_TYPE']] / row['CLAIM_AMOUNT']
    if claim_deviation < 0.5:
        return 1
    else:
        return 0

In [ ]:
view['CLAIM_DEVIATION']=view.apply(Claim_deviation,axis=1)
view.CLAIM_DEVIATION.value_counts()

KeyError: ignored

## Task 7
Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [ ]:
type_count = view.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()

In [ ]:
agent_insurance_types = type_count>2

In [ ]:
multi_type_agents = agent_insurance_types[agent_insurance_types].index

In [ ]:
Top_agents = view.groupby(['AGENT_ID','AGENT_NAME']).sum().loc[multi_type_agents][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT',ascending=False)

In [ ]:
Top_agents

                               CLAIM_AMOUNT
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528000.0
AGENT00679 Clara Barnett           409000.0
AGENT00771 Roger Burns             332100.0
AGENT00729 Samuel Tolman           329100.0
AGENT00633 Clarence Mcclendon      317000.0
...                                     ...
AGENT00314 Rosemary Turman           8100.0
AGENT00272 Jordon Morris             6800.0
AGENT00884 Dawn Krans                6500.0
AGENT00170 Kyle Allen                6200.0
AGENT00604 Thelma Salinas            5500.0

[1055 rows x 1 columns]

In [ ]:
Top_agents.join(type_count)

                               CLAIM_AMOUNT  INSURANCE_TYPE
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528000.0               5
AGENT00679 Clara Barnett           409000.0               4
AGENT00771 Roger Burns             332100.0               4
AGENT00729 Samuel Tolman           329100.0               5
AGENT00633 Clarence Mcclendon      317000.0               5
...                                     ...             ...
AGENT00314 Rosemary Turman           8100.0               3
AGENT00272 Jordon Morris             6800.0               3
AGENT00884 Dawn Krans                6500.0               3
AGENT00170 Kyle Allen                6200.0               3
AGENT00604 Thelma Salinas            5500.0               3

[1055 rows x 2 columns]

## Task 8
Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [ ]:
premium_collected_earlier = view['PREMIUM_AMOUNT'].sum()

In [ ]:
prem_by_types = view.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT'].to_dict()

In [ ]:
prem_by_types

{'Health': 176908.42,
 'Life': 88710.29,
 'Mobile': 10958.17,
 'Motor': 117087.75,
 'Property': 145527.16,
 'Travel': 89660.0}

In [ ]:
prem_by_types['Mobile']*=0.9
prem_by_types['Travel']*=0.9
# Health and Property premium increases by 7%
prem_by_types['Health']*=1.07
prem_by_types['Property']*=1.07
# Life and Motor premium increased by 2%
prem_by_types['Life']*=1.02
prem_by_types['Motor']*=1.02
prem_by_types

{'Health': 189292.00940000004,
 'Life': 90484.49579999999,
 'Mobile': 9862.353000000001,
 'Motor': 119429.505,
 'Property': 155714.06120000003,
 'Travel': 80694.0}

In [ ]:
revised_premium = sum(prem_by_types.values())

In [ ]:
(revised_premium-premium_collected_earlier)*100/premium_collected_earlier

2.643649054413915

In [ ]:
premium_collected_earlier,revised_premium

(628851.79, 645476.4244)

## Task 9
Business wants to give discount to customer who are loyal and under stress due to Covid
19. They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it
mean.

In [ ]:
disc_status=(view['TENURE']>60)&(view['EMPLOYMENT_STATUS']=='N')&(view['NO_OF_FAMILY_MEMBERS']>=4)

In [ ]:
view['ELIGIBLE_FOR_DISCOUNT'] = disc_status.astype('int')

In [ ]:
view.ELIGIBLE_FOR_DISCOUNT.mean()

0.031114225648213034

## Task 10
Business wants to check Claim Velocity which is defined as follow
CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)
/ NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)
Note: LAST30DAYS & LAST3DAYS does not include current
day

In [ ]:
curr_date

Timestamp('2021-06-30 00:00:00')

In [ ]:
view['CLAIM_STATUS'].value_counts()

A    6777
D     357
Name: CLAIM_STATUS, dtype: int64

In [ ]:
last_3_days = view.loc[(view['TXN_DATE_TIME'] > curr_date-pd.Timedelta(days=4)) & (view['TXN_DATE_TIME'] < curr_date)]

In [ ]:
claims_in_last_30_days = pd.DataFrame.from_dict(last_30[last_30['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [ ]:
claims_in_last_3_days = pd.DataFrame.from_dict(last_3_days[last_3_days['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [ ]:
approved_claims = claims_in_last_30_days.join(claims_in_last_3_days)

In [ ]:
approved_claims['CLAIM_VELOCITY'] = approved_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/approved_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [ ]:
approved_claims

Empty DataFrame
Columns: [NO_OF_CLAIMS_IN_LAST30DAYS, NO_OF_CLAIMS_IN_LAST3DAYS, CLAIM_VELOCITY]
Index: []

In [ ]:
All_claims30D = pd.DataFrame.from_dict(last_30.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [ ]:
All_claims3D = pd.DataFrame.from_dict(last_3_days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [ ]:
total_claims=All_claims30D.join(All_claims3D)

In [ ]:
total_claims['CLAIM_VELOCITY'] = total_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/total_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [ ]:
total_claims

Empty DataFrame
Columns: [NO_OF_CLAIMS_IN_LAST30DAYS, NO_OF_CLAIMS_IN_LAST3DAYS, CLAIM_VELOCITY]
Index: []

## Task 11
Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [ ]:
bottom_5percentile_limit = view.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']

In [ ]:
Agent_grouped_data = view.groupby('AGENT_ID').sum()

In [ ]:
low_performing_agents = Agent_grouped_data[Agent_grouped_data['CLAIM_AMOUNT']<=bottom_5percentile_limit][['CLAIM_AMOUNT']]
low_performing_agents

            CLAIM_AMOUNT
AGENT_ID
AGENT00014        7400.0
AGENT00068        9700.0
AGENT00071       10100.0
AGENT00074       10300.0
AGENT00106        7000.0
AGENT00134       10000.0
AGENT00170        6200.0
AGENT00172       11400.0
AGENT00188        8400.0
AGENT00263       11300.0
AGENT00272        6800.0
AGENT00275        2200.0
AGENT00279       10000.0
AGENT00300       12600.0
AGENT00314        8100.0
AGENT00316        6000.0
AGENT00328       12000.0
AGENT00351        2700.0
AGENT00355        5000.0
AGENT00435       12400.0
AGENT00440        6300.0
AGENT00442        4300.0
AGENT00517       11000.0
AGENT00550       11500.0
AGENT00585        5600.0
AGENT00604        5500.0
AGENT00621        5000.0
AGENT00623       12500.0
AGENT00628        6000.0
AGENT00674        6400.0
AGENT00689        5700.0
AGENT00706        5000.0
AGENT00721        8600.0
AGENT00728        8200.0
AGENT00732         100.0
AGENT00760        1700.0
AGENT00773        8000.0
AGENT00774        9800.0
AGENT00780        7000.0
AGENT00783        1000.0
AGENT00790        4000.0
AGENT00819       11400.0
AGENT00823       12600.0
AGENT00860        7700.0
AGENT00872        9800.0
AGENT00884        6500.0
AGENT00900        1200.0
AGENT00910       11500.0
AGENT00912       12100.0
AGENT01002        9500.0
AGENT01029        3100.0
AGENT01037        5200.0
AGENT01066       11800.0
AGENT01077        4000.0
AGENT01093        1100.0
AGENT01136       10500.0
AGENT01139       11100.0
AGENT01151        3000.0
AGENT01154         800.0
AGENT01157       10200.0

## Task 12
Business wants to find all Suspicious Employees (Agents).
IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified
as Suspicious ELSE Not
CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
AND INCIDENT_SEVERITY = “Major Loss”
If Suspicious, then 1 ELSE 0. Find mean of this column

In [ ]:
criteria = (view['CLAIM_STATUS']=='A')&(view['RISK_SEGMENTATION']=='H')&(view['INCIDENT_SEVERITY']=='Major Loss')

In [ ]:
criteriamet = view[criteria]

In [ ]:
grouped_suspicion_data = criteriamet.groupby('AGENT_ID').sum()

In [ ]:
suspicious_agents = list(grouped_suspicion_data[grouped_suspicion_data['CLAIM_AMOUNT']>=15000].index)

In [ ]:
suspicious_agents = list(grouped_suspicion_data[grouped_suspicion_data['CLAIM_AMOUNT']>=15000].index)

In [ ]:
employee_data

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134
...,...,...,...,...,...,...,...,...,...,...
1195,AGENT01196,Myrtle Mccatty,2005-09-14,3553 Brandywine Street Northwest,NaN,Washington,DC,20008,32137938,EWBR19907574832501
1196,AGENT01197,John Dorsey,1993-12-04,2315 Chestnut Street,NaN,Montgomery,AL,36107,70796687,KGEJ74846009867837
1197,AGENT01198,Ruth Bigbee,1993-09-05,1983 Reidsville Street,NaN,Annapolis,MD,21401,124993912,RASV88064214164820
1198,AGENT01199,Tommie Camacho,2004-10-25,5821 Taft Street,NaN,Arvada,CO,80004,19424059,UOFO11656245339211
1199,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511

In [ ]:
employee_data['SUSPICIOUS'] = 0

In [ ]:
sus_emp_slice = employee_data['AGENT_ID'].isin(suspicious_agents)

In [ ]:
employee_data.loc[sus_emp_slice,'SUSPICIOUS']=1

In [ ]:
employee_data['SUSPICIOUS'].mean()

0.08666666666666667

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).